version: '3.8'
services:
  mongo:
    image: mongo:6.0
    restart: always
    ports:
      - 27017:27017
    volumes:
      - mongo_data:/data/db
  redis:
    image: redis:7.2
    restart: always
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data
  backend:
    build: .
    command: npm run start
    environment:
      - MONGO_URL=mongodb://mongo:27017/auction
      - REDIS_URL=redis://redis:6379
      - NODE_ENV=production
    ports:
      - 3000:3000
    depends_on:
      - mongo
      - redis
    volumes:
      - .:/app
  client:
    build: ./client
    command: npm run dev -- --host
    ports:
      - 5173:5173
    depends_on:
      - backend
    volumes:
      - ./client:/app
volumes:
  mongo_data:
  redis_data:
